<!DOCTYPE html>
<html>
  <head>
    <title>WEB COOPE ADMIN</title>
    <link rel='stylesheet' href='/stylesheets/App.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
    crossorigin="anonymous">
  </head>
  <body class="inicio m-5">
     <header class="m-5" style="text-align:center">
            <div class="holder">
                    <img class="logo" src="/images/home/logocoope-color.png" alt="logocoope">
            </div>
        </header>
        {{{body}}}
  </body>
</html>
