<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div style="text-align: center; padding: 15px">
<h1 style="text-weight: bold">Manager Carteleria LED CEAPR</h1>
<br>
<br>
</div>
<div class="container">
  <div class="row-login" style="margin: 50px ">
    <h6 style="text-align: start, text-weight: bold">Completa los datos para iniciar sesi칩n</h6>
    <br>
    <form action="/admin/login" method="post">
  <h5>Usuario</h5>
  <div class="form-grup">
    <input type="text" class="form-control" placeholder="Usuario" name="nombre">
  </div>
  <br />
  <br />
  <h5>Contrase침a</h5>
  <div class="form-grup">
    <input type="password" class="form-control" placeholder="Contrase침a" name="contrasena">
  </div>
  <br />
  <br />
  <button type="submit" class="btn btn-primary">Entrar</button>
  <br />
  <br>
  <p>Click para entrar!</p>
  <br>
  <br>
  <a href="/admin/login/auth/google" class="btn btn-primary">Iniciar sesi칩n con Google</a>
</form>
{{#if error}}
<p>Usuario o Password incorrectos</p>
{{/if}}
  </div>
</div>
