.inicio{
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.holder {
    width: 960px;
    margin: 0 auto;
}

h2{
    font-weight: 600 bold;
    color: #2e64a1;
    margin:0 0 1em;
}

Header {
    background-color: #FFFFFF;
}

Header h1{
    color: white;
    font-size: 5em;
    font-style: italic;
    font-weight: 100em;
    display: inline-block;
    position:static;
    bottom: 5em;
    margin: 0em;
}

#logo {
    margin-right: 20px;
    padding-left:  20px;
    float: inline-start;
}
  
  #navul {
    list-style: none;
    margin: 0;
    margin-bottom: 0em;
    padding: 0em;
    margin-left: 0em;
  }
  
  nav ul li {
    display:inline-block;
    width: 4% 4%;
    height: 10%;
    padding: 0.7em 3.3em 1em 0.91em;
    margin: 0%;
    margin-right: 0em;
  }
  
  nav ul li a {
    color:white;
    font-weight: 400 bold;
    text-align: center;
    padding: 0em 0em;
    display: inline-block;
  }
  

  .holder .logo{
    width: 200px;
  }

  .row-login {
    width: 25%;
  }
 
  
  

